$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary: #99E2D0;
$color_netral:#fff;
$color_grey: rgba(151, 151, 151, 0.979);
$color_background_1:#fff;
$color_background_2:#f1f1f1;
$color_background_3:#e9e9e9;

@mixin typography_title {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 900;
    color: black;
    text-align: center;
}
@mixin typography_sub {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color: #777777;
    text-align: center;
}
@mixin typography_text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    color: black;
}
@mixin typography_textbold {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: black;
}
@mixin flex_dekstop {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin flex_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@mixin shadow {
    -webkit-box-shadow: 0 0 20px rgb(196, 196, 196);
}

@mixin box {
    -webkit-box-shadow: 0 0 20px rgb(196, 196, 196);
    border-radius: 15px;
}

@mixin button_border {
    border-style: solid 1px #9356DC;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0 0 20px rgb(196, 196, 196);
}

body {
    margin:auto;
    box-sizing: content-box;
    max-width: 1440px;
    @include flex_mobile;
}
header {
    @include flex_dekstop;     
    background-color: $color_background_1;
    @include shadow;   
    padding:20px;
}
#logo {
    @include flex_mobile;
    img {
        width: 200px;
    }
}
#nav {
    @include flex_mobile;
    background-color: $color_background_2;
    .location {
        background-color: $color_background_3;
        padding: 15px;
        @include flex_dekstop;
    }
    .description {
        @include flex_mobile;
        margin: 0;
        padding: 20px;
        h1 {
            @include typography_title;
            margin-bottom: 0;
            padding: 0 30px 0 30px;
        }
        p {
            @include typography_sub;
            padding-top: 10px;
        }
    }
    .explorebutton {
        @include flex_dekstop;
        padding-bottom: 30px;
        button {  
            background-color:$color_primary;
            color: $color_netral;
            @include shadow;
            @include button_border;                
        }
    }        
}
#filters {       
    ul  {
        @include flex_dekstop;
        gap: 15px;
        li {
            @include flex_dekstop;
            @include box;
            list-style-type: none;
            padding: 20px;
            background-color:$color_background_2;
            a, button, p {
                @include flex_dekstop;
                @include typography_textbold;
                border:none;
                text-decoration: none;
                margin: 0;
                gap: 20px;
                i.fas {
                    color: $color_grey;
                }
            }
        }
    }
}

