header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo__img {
  width: 200px;
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
.btn button {
  background-color: #9356DC;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
}

footer {
  background-color: #3f3f3f;
  padding: 20px;
}
footer .footertitle {
  font-family: "Shrikhand";
  font-size: 15px;
  color: #fff;
}
footer .footerlist {
  display: flex;
}
footer .footerlist ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
footer .footerlist ul li a {
  display: flex;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: black;
  border: none;
  text-decoration: none;
  margin: 0;
  gap: 20px;
  color: #fff;
}
footer .footerlist ul li a i.fas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes body {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 60%;
  }
  98% {
    width: 98%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: auto;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

header .return {
  justify-content: baseline;
  margin-right: auto;
}
header .logo {
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

main {
  background-color: #e9e9e9;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 599px) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.title__img img {
  display: none;
}
@media screen and (max-width: 599px) {
  .title__img img {
    display: flex;
    width: 100%;
  }
}
.title__name {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.title__name h2 {
  font-family: "Shrikhand";
  font-size: 15px;
  color: #fff;
  color: black;
  font-size: 30px;
  font-weight: lighter;
}
@media screen and (max-width: 599px) {
  .title__name {
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
    background-color: #e9e9e9;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
@media screen and (max-width: 599px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 0 20px;
  overflow: hidden;
  animation: menu 1500ms;
}
.menu__detail__title {
  font-weight: 400;
  margin: 0;
}
.menu__detail__list {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-radius: 15px;
  list-style-type: none;
  padding: 0 20px;
  background-color: #f1f1f1;
  cursor: pointer;
  overflow: hidden;
  animation: menu 1000ms ease-in;
}
.menu__detail__list--1 {
  animation-delay: 111.1111111111ms;
}
.menu__detail__list--2 {
  animation-delay: 222.2222222222ms;
}
.menu__detail__list--3 {
  animation-delay: 333.3333333333ms;
}
.menu__detail__list--4 {
  animation-delay: 444.4444444444ms;
}
.menu__detail__list--5 {
  animation-delay: 555.5555555556ms;
}
.menu__detail__list--6 {
  animation-delay: 666.6666666667ms;
}
.menu__detail__list--7 {
  animation-delay: 777.7777777778ms;
}
.menu__detail__list--8 {
  animation-delay: 888.8888888889ms;
}
.menu__detail__list--9 {
  animation-delay: 1000ms;
}
.menu__detail--name {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.menu__detail--description h3 {
  margin-bottom: 0;
}
.menu__detail--price {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
}
.menu__detail--check:hover + i.fas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #99E2D0;
  flex: 1;
  justify-content: flex-end;
  animation: menu 1000ms 150ms;
}
.menu__detail--check i.fas {
  color: #fff;
  overflow: hidden;
  transform: scale(0.1) rotate(-90deg);
  transition: transform 330ms ease-in-out;
}

.order {
  margin-top: 40px;
}
.order__btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
.order__btn button {
  background-color: #9356DC;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  padding: 10px 30px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=ohmyfood-menu.css.map */
