header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px #c4c4c4;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo__img {
  width: 200px;
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
.btn button {
  background-color: #9356DC;
  color: #fff;
  box-shadow: 0px 10px 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 10px 20px #c4c4c4;
}

footer {
  background-color: #3f3f3f;
  padding: 20px;
}
footer .footertitle {
  font-family: "Shrikhand";
  font-size: 15px;
  color: #fff;
}
footer .footerlist {
  display: flex;
}
footer .footerlist ul {
  font-family: "Roboto";
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  text-align: left;
  gap: 10px;
}
footer .footerlist ul li a, footer .footerlist ul p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  color: black;
  border: none;
  text-decoration: none;
  margin: 0;
  gap: 20px;
  display: flex;
  margin: 0;
  color: #fff;
}
footer .footerlist ul li a i.fas, footer .footerlist ul p i.fas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes body {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 60%;
  }
  98% {
    width: 98%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes check {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes underline {
  0% {
    width: 0%;
  }
  40% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
a {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  color: black;
  border: none;
  text-decoration: none;
  margin: 0;
  gap: 20px;
}

.page {
  margin: auto;
  box-sizing: content-box;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  opacity: 1;
  animation: body 1s 1.5s both;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: loader 1.8s forwards;
}
.loader .progress {
  display: flex;
  height: 10px;
  width: 100%;
  max-width: 320px;
  box-shadow: inset 0px 0px 0px 1px #C8C8CD;
  border-radius: 50px;
  overflow: hidden;
}
.loader .progress__bar {
  display: flex;
  height: 100%;
  width: 98%;
  background: #409be9;
  animation: progress-animation 1s 0.8s both;
  transform-origin: left;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #f1f1f1;
  position: relative;
}
.nav__location {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #e9e9e9;
  padding: 15px;
  gap: 20px;
}
.nav__location i.fas {
  align-self: center;
}
.nav__location p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  margin: 0;
}
.nav__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 20px;
}
.nav__description h1 {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 900;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 0 30px 0 30px;
}
.nav__description p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  padding-top: 10px;
}
.nav__explore {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 0 30px 0;
}
.nav__explore button {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border: transparent;
  box-shadow: 0px 10px 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 10px 20px #c4c4c4;
  padding: 20px 40px;
  margin-bottom: 30px;
  transform: scale(1);
  transition: transform 350ms;
}
.nav__explore button:hover {
  transform: scale(1.12);
  background-image: linear-gradient(to bottom right, #fc86da, #9b67db);
}

.filters {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.filters h2 {
  text-align: center;
  padding-left: 10px;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 900;
  color: black;
  text-align: center;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 1080px) {
  .filters h2 {
    text-align: left;
  }
}
@media screen and (max-width: 699px) {
  .filters h2 {
    text-align: left;
  }
}
.filters__menu__list {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
@media screen and (max-width: 1080px) {
  .filters__menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 699px) {
  .filters__menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.filters__menu__list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 20px #c4c4c4;
  border-radius: 15px;
  list-style-type: none;
  padding: 20px;
  background-color: #f1f1f1;
  transform: scale(1);
  transition: transform 350ms;
  transform: scale(1);
  transition: transform 350ms;
}
.filters__menu__list li:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1080px) {
  .filters__menu__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
@media screen and (max-width: 699px) {
  .filters__menu__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
  }
}
.filters__menu__list li:hover {
  transform: scale(1.05);
  background-color: #f0d8f7;
  color: #9356DC;
}
.filters__menu__list li:hover i.fas {
  color: #9356DC;
}
.filters__menu__list li .number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: black;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 30px;
  left: -20px;
  line-height: 0;
  padding: 11px;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.filters__menu__list li a {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  margin-left: 10px;
  padding: 10px 0;
}
.filters__menu__list li a i.fas {
  color: rgba(151, 151, 151, 0.979);
}
.filters__menu__list li a p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.restaurant {
  background-color: #e9e9e9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
.restaurant h2 {
  text-align: center;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 900;
  color: black;
  text-align: center;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 1080px) {
  .restaurant h2 {
    text-align: left;
  }
}
@media screen and (max-width: 699px) {
  .restaurant h2 {
    text-align: left;
  }
}
@media screen and (max-width: 1080px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 699px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.restaurant__list-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
@media screen and (max-width: 1080px) {
  .restaurant__list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 699px) {
  .restaurant__list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.restaurant__list-menu .menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 7px;
  justify-content: center;
  box-shadow: 0px 0px 20px 5px #c4c4c4;
  flex: 1 0 0;
  transform: scale(1);
  transition: transform 350ms;
}
.restaurant__list-menu .menu:hover {
  transform: scale(1.05);
}
.restaurant__list-menu .menu__img {
  position: relative;
}
.restaurant__list-menu .menu__img img {
  display: flex;
  flex: 3;
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: 50% 60%;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__list-menu .menu__img__new {
  background-color: #99E2D0;
  color: #01af84;
  box-shadow: 0px 10px 20px #c4c4c4;
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 5px;
}
.restaurant__list-menu .menu__name {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 7px;
}
.restaurant__list-menu .menu__name__description p {
  margin: 0;
  padding: 2px 0;
  gap: 10px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.restaurant__list-menu .menu__name__like {
  position: absolute;
  width: 17px;
  height: 20px;
  top: 20px;
  right: 17px;
  transition: transform 150ms 100ms, background-color 150ms;
}
.restaurant__list-menu .menu__name__like i.fas {
  display: none;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__list-menu .menu__name__like:hover {
  transform: scale(1.1);
}
.restaurant__list-menu .menu__name__like:hover i.fas {
  display: block;
}
.restaurant__list-menu .menu__name__like:hover i.far {
  display: none;
}

/*# sourceMappingURL=ohmyfood-main.css.map */
