header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo__img {
  width: 200px;
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
.btn button {
  background-color: #9356DC;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
}

footer {
  background-color: #3f3f3f;
  padding: 20px;
}
footer .footertitle {
  font-family: "Shrikhand";
  font-size: 15px;
  color: #fff;
}
footer .footerlist {
  display: flex;
}
footer .footerlist ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
footer .footerlist ul li a {
  display: flex;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: black;
  border: none;
  text-decoration: none;
  margin: 0;
  gap: 20px;
  color: #fff;
}
footer .footerlist ul li a i.fas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes body {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 60%;
  }
  98% {
    width: 98%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes check {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  margin: auto;
  box-sizing: content-box;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

header .return {
  justify-content: baseline;
  margin-right: auto;
}
header .logo {
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

main {
  background-color: #e9e9e9;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 1080px) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 699px) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.title__img img {
  display: none;
}
@media screen and (max-width: 1080px) {
  .title__img img {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 699px) {
  .title__img img {
    display: flex;
    width: 100%;
  }
}
.title__name {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.title__name h2 {
  font-family: "Shrikhand";
  font-size: 15px;
  color: #fff;
  color: black;
  font-size: 30px;
  font-weight: lighter;
}
@media screen and (max-width: 1080px) {
  .title__name {
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
    background-color: #e9e9e9;
  }
}
@media screen and (max-width: 699px) {
  .title__name {
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
    background-color: #e9e9e9;
  }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
@media screen and (max-width: 1080px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 699px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
  animation: menu 1500ms;
}
@media screen and (max-width: 1080px) {
  .menu__detail {
    padding: 0 20px;
  }
}
@media screen and (max-width: 699px) {
  .menu__detail {
    padding: 0 20px;
  }
}
.menu__detail__title {
  font-weight: 400;
  margin: 0;
}
.menu__detail__list {
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-radius: 15px;
  padding: none;
  width: 350px;
  list-style-type: none;
  overflow: hidden;
  background-color: #f1f1f1;
  cursor: pointer;
  animation: menu 1000ms ease-in;
}
@media screen and (max-width: 1080px) {
  .menu__detail__list {
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
  }
}
@media screen and (max-width: 699px) {
  .menu__detail__list {
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
  }
}
.menu__detail__list__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  transition: width 0.5s;
}
.menu__detail__list__check i.fas {
  font-size: 20px;
  transition: transform 500ms ease-in-out;
  color: #fff;
  border-radius: 50%;
}
.menu__detail__list:hover .menu__detail__list__check {
  width: 70px;
}
.menu__detail__list:hover .menu__detail__list__check i.fas {
  transform: rotate(360deg);
}
.menu__detail__list__name {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 20px;
}
.menu__detail__list__name__description {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: baseline;
  align-items: baseline;
}
.menu__detail__list__name__description h3 {
  margin-bottom: 0;
}
.menu__detail__list__name__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1em 0;
}

.order {
  overflow: hidden;
  position: relative;
}
.order__btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px 0;
  margin-top: 20px;
}
.order__btn button {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border: transparent;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  border-style: solid 1px #9356DC;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px #c4c4c4;
  padding: 20px 60px;
  margin-bottom: 30px;
  transition: transform 350ms;
}
.order__btn button:hover {
  transform: scale(1.13);
  background-image: linear-gradient(to bottom right, #fc90dd, #a979e4);
}

/*# sourceMappingURL=ohmyfood-menu.css.map */
