@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./components/buttons";
@import "./layout/footer";
@import "./components/keyframes";

a {
    text-decoration: none;
    color: black;
}
body {
    @include body();
}

header {
    .return {
        justify-content: flex-start;
        margin-right: auto;
    }
    .logo {
        justify-content: center;
        align-items: center;
        margin-right:auto ;
    }
}
main {
    background-color: $color_background_3;
}
.title {
    @include flex_dekstop;   
    @include mobile-only {
        @include flex_mobile;
    } 
    &__img img{
        display: none;
        @include mobile-only {
        display: flex;
        width: 100%;
        }
    }
    &__name {
        @include flex_dekstop;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        position: relative;
        h2 {
            display: flex;
            @include typography_symbol;
            color: black;
            font-size: 30px;
            font-weight: lighter;  
            @include mobile-only {
                padding-left: 20px;
                font-size: 25px;
            }      
        }
        @include mobile-only {
            border-radius: 35px 35px 0 0;
            margin-top: -50px;
            background-color: $color_background_3;
        }
        &__like {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 17px;
            height: 20px;
            top: 37px;
            right: -40px;
            transition: transform 350ms 100ms, background-color 250ms;
            @include mobile-only {
                top: 30px;
                right: 30px;
            }
            i.fas {
                display: none;
                background: -webkit-linear-gradient($color_primary,$color_secondary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover { 
                transform: scale(1.10);                       
                i.fas {    
                    display: block;                                                
                }
                i.far {
                    display: none;                            
                }   
            }                   
        }        
    }
}
p, h3 {
    font-family: 'Roboto';
}
.menu {
    width: 100%;
    @include flex_dekstop;
    @include mobile-only {
        @include flex_mobile;
    }
    gap: 30px;    
    &__detail {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch; 
        gap: 20px;       
        @include mobile-only {
        padding: 0 20px;
        } 
        animation: menu 1s 3s both;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 1s * $i;
            }
        }       
        &__title {
            font-weight: 400;
            margin: 0;
            display: inline-block;
            transition: text-decoration 100ms;
            padding-bottom: 5px;
            position: relative;
        }
        &__title::after {
            content: "";
            height: 2px;
            width: 12%;
            background-color: $color_tertiary;
            position: absolute;
            bottom: 1px;
            left: 20px;
            transform: translate(-50%);           
        }        
        &__list {
            @include flex_dekstop;
            @include box;
            padding: 0;
            width: 350px;
            list-style-type: none;
            overflow: hidden;
            background-color: $color_background_2;
            cursor: pointer;            
            animation: menu $anim-dur ease-in;
            @include mobile-only {
                justify-content: stretch;
                align-items: stretch;
                width: 100%;
            }
            &__check {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0;
                overflow: hidden;
                background-color: $color_tertiary;
                transition: width 0.5s;
                i.fas {  
                    font-size: 20px;
                    transition: transform 500ms ease-in-out;         
                    color: $color_netral;
                    border-radius: 50%;
                }               
            }           
            &:hover &__check {
                width: 70px;
                i.fas {
                    transform: rotate(360deg);
                }    
            }
            &__name{               
                display: flex;
                flex: 1;
                min-width: 0;
                justify-content: space-between;
                padding: 0 15px;
                &__description {
                    min-width: 0;
                }                   
                &__description h3, &__description p{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    flex-direction: column;
                    flex: 3;
                    margin: 10px;                    
                }
                &__price {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin: 1em 0;
                }
            }            
        }
    }
}
.order {
    overflow: hidden;
    position: relative;   
    &__btn {
        @include flex_dekstop;
        padding: 30px 0;
        margin-top: 20px;
        button {  
            cursor: pointer;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            @include typography_sub; 
            color: $color_netral;
            border: transparent;
            @include shadow;
            @include button_border;
            padding: 20px 60px;
            margin-bottom: 30px;
            @include transform-btn;
        }
    }        
}