@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./components/buttons";
@import "./layout/footer";
@import "./components/keyframes";

a {
    @include ahref;
}
.page {
    @include body;
    opacity: 1;
    animation: body 1s 1.5s both;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    animation: loader 1.8s forwards;
    .progress {    
        display: flex;
        height: 10px;
        width: 100%;
        max-width: 320px;
        box-shadow: inset 0px 0px 0px 1px #C8C8CD;
        border-radius: 50px;
        overflow: hidden;
        &__bar {
            display: flex;
            height: 100%;
            width: 98%;
            background-color: #409be9;
            animation: progress-animation 1s 0.8s both;
            transform-origin: left;        
        }
    }   
}
body {
    margin: 0;
}

.nav {
    @include flex_mobile;
    background-color: $color_background_2;
    position: relative;
    &__location{
        @include flex_dekstop;
        background-color: $color_background_3;
        padding: 15px;
        gap : 20px;
        & i.fas {
            align-self: center;
        }      
        & p { 
            @include typography_sub;
            margin: 0;
        }
    }
    &__description {
        @include flex_mobile;
        margin: 0;
        padding: 20px;
        & h1 {
            @include typography_title;
            margin-bottom: 0;
            padding: 0 30px 0 30px;
        }
        & p {
            @include typography_sub;
            padding-top: 10px;
        }
    }
    &__explore {
        @include flex_dekstop;
        padding: 0 0 30px 0;        
        button {
            @include typography_sub;
            overflow: hidden;  
            cursor: pointer;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            color: $color_netral;
            border: transparent;            
            @include button_border; 
            padding: 20px 40px;
            margin-bottom: 30px;
            @include transform-btn;                             
        }              
    }        
}        
.filters {  
    background-color: $color_background_1;
    padding: 10px; 
    @include flex_mobile;
    h2 {
        text-align: center;
        padding-left:10px;
        @include typography_title;
        margin: 20px 0 0 0;
        @include mobile-only {            
            text-align: left;            
        }
    }  
    &__menu {
        &__list  {
            padding: 10px;
            @include flex_dekstop;
            @include mobile-only {
                @include flex_mobile;            
            }
            gap: 30px; 
            li {
                position: relative;
                @include flex_dekstop;
                @include box;
                list-style-type: none;
                padding: 20px;                
                background-color:$color_background_2;
                @include transform-box;
                @include mobile-only {
                    @include flex_mobile;
                    align-items: stretch;
                }
                transform: scale(1);
                transition: transform 350ms;
                &:hover {
                    transform: scale(1.05);
                    background-color:#f0d8f7;
                    color: $color_primary;
                    i.fas {
                        color: $color_primary;
                    }
                }
                .number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include typography_text;
                    background-color: $color_primary;
                    color:$color_netral ;               
                    position: absolute;
                    text-align: center;
                    top: 30px;
                    left: -20px;
                    line-height: 0;
                    padding: 11px;
                    width: 0;
                    height: 0;
                    margin-left: 10px;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
                a {
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-start;
                    align-items: baseline;
                    margin-left: 10px;
                    padding: 10px 0;
                    i.fas {                       
                        color: $color_grey;
                    }
                    p {
                        @include typography_textbold;
                        margin:0 ;
                    }                    
                }                                               
            }
        }
    }  
}
.restaurant { 
    background-color: $color_background_3;
    padding: 20px; 
    @include flex_mobile;
    h2 {
        text-align: center;
        @include typography_title;
        margin: 20px 0 0 0;
        @include mobile-only {
            text-align: left;
        }
    }
    @include mobile-only {
        @include flex_mobile;
    }
    gap: 30px;
    &__list-menu {        
        @include flex_dekstop;
        @include mobile-only {
            @include flex_mobile;
        }
        gap: 30px;
        .menu {
            display: flex;
            flex-direction: column;
            @include box-menu;
            flex: 1 0 0;
            @include transform-box;            
            &__img {
                img {
                    @include image-menu;
                }                
                position: relative; 
                &__new {
                    background-color: $color_tertiary;
                    color:#01af84 ;
                    @include shadow();
                    position: absolute;
                    top: 13px;
                    right: 13px;
                    padding: 5px;
                }              
            } 
            &__name {
                @include flex_dekstop;
                justify-content: space-between;
                position: relative;
                padding: 5px 7px;
                &__description p {
                    margin:0;
                    padding: 2px 0;
                    gap: 10px;
                    @include typography_text;
                }
                &__like {
                    position: absolute;
                    width: 17px;
                    height: 20px;
                    top: 20px;
                    right: 17px;
                    transition: transform 450ms, background-color 300ms 150ms;
                    i.fas {
                        display: none;
                        background: -webkit-linear-gradient($color_primary,$color_secondary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &:hover { 
                        transform: scale(1.10);                       
                        i.fas {    
                            display: block;                                               
                        }
                        i.far {
                            display: none;                            
                        }   
                    }                   
                                                   
                }
            }             
        }        
    }
}


